/* Alap formázás */
* {
    box-sizing: border-box;
    font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #F7F7F7, #C3A1FF);
}

/* Fejléc formázása */
header {
    background-color: #C3A1FF;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Navigáció formázása */
nav {
    background-color: #B08FFF;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Tartalom terület formázása */
section {
    padding: 20px;
    text-align: center;
}

/* Munka bemutató stílusok */
.work-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: hsl(0, 0%, 97%);
}

.work-item {
    text-align: center;
    margin: 20px;
    padding: 15px;
    border: 1px solid #B08FFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    z-index: 1;
}

.work-item:hover {
    transform: scale(1.10);
    box-shadow: 5px 5px 10px 2px rgba(75, 74, 74, 0.8);
}

.work-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.work-item p {
    margin-top: 10px;
    color: #555;
}

footer {
    background: linear-gradient(to top, rgba(195, 161, 255, 0.5), rgba(195, 161, 255, 0.5));
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Linkek formázása */
a {
    color: #7546A6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu {
    position: relative;
    top: 0;
    left: 0;
    background-color: #5c3a96;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
}

.menu li {
    margin: 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(189, 156, 225);
    font-weight: bold;
    display: flex;
}

.menu a:hover {
    transition: transform 0.5s ease;
    transform: scale(1.50);
}
